/* Calculator style */


.button-block-header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .button-block-header .btn-block {
    width: 350px !important;
  }
  
  /* .button-block-header input {
    border: none;
    width: 350px;
    border-radius: 5px;
    min-height: 48px;
    padding: 15px 10px 15px 10px;
    margin: 10px 20px 10px 20px;
    color: #fff !important;
    background-color: #169FE6 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1cbaed), to(#0e7bdd)) !important;
    background-image: linear-gradient(to bottom, #1cbaed, #0e7bdd) !important;
    border: 1px solid #fff !important;
  } */
  
  /* input[type="submit"], input[type="button"], button {
     color: #fff !important 
  } */
  
  /* .button-block-header input:hover {
    background-color: #fff !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0e7bdd), to(#0B62AE)) !important;
    background-image: linear-gradient(to bottom, #0e7bdd, #0B62AE) !important;
    color: #fff !important;
    border: 1px solid #169FE6 !important;
    cursor: pointer !important;
  } */
  
  .calculator-wrapper {
    min-height: 110px;
  }
  
  .form-wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    display: none;
  }
  
  .header-block {
    width: 100%;
    min-height: 50px;
    text-align: center;
    padding: 2px;
    color: #fff;
    background-color: #169FE6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1cbaed), to(#0e7bdd));
    background-image: linear-gradient(to bottom, #1cbaed, #0e7bdd);
  }
  
  .header-block h1 {
    color: #fff !important;
  }
  
  .server-header-block {
    padding: 1%;
  }
  
  .servers-wrapper {
    margin: 2%;
    background-color: #F3FBFE;
  }
  
  .form-price-ukr {
    background-color: #F3FBFE;
    padding: 1%;
  }
  
  .form-support-system-ukr {
    background-color: #F3FBFE;
    padding: 1%;
  }
  
  .form-software-about-ukr {
    background-color: #F3FBFE;
    padding: 1%;
  }
  
  .group-ukr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-orient: vertical;
  }
  
  .group-ukr label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
  }
  
  .group-ukr label input {
    margin-left: 5px;
    margin-right: 5px;
  }

  .group-ukr-content {
    width: 180px;
    margin: 20px;
  }
  
  .form-price-eur {
    background-color: #F3FBFE;
    padding: 1%;
  }
  
  .form-support-system-eur {
    background-color: #F3FBFE;
    padding: 1%;
  }
  
  .form-software-about-eur {
    background-color: #F3FBFE;
    padding: 1%;
  }
  
  .group-eur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
  }
  
  .group-eur label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
  }
  
  .group-eur label input {
    margin-left: 5px;
    margin-right: 5px;
  }

  .group-eur-content{
    width: 180px;
    margin: 20px;
  }
  
  .total-amount-block {
    background-color: #F3FBFE;
    padding: 1px;
  }
  
  .total-amount-eur {
    padding: 1%;
  }
  
  .section-form-body {
    min-height: 300px;
    padding: 20px;
    /* margin: 20px; */
    margin-bottom: 70px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .select-body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0px 20px 0px;
  }
  
  select {
    width: 80%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #C9DCE6;
  }
  
  .country {
    min-height: 30px;
    margin-top: 50px;
    margin-bottom: 3.5%;
    padding: 0px 5px 0px 5px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    background-color: #169FE6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1cbaed), to(#0e7bdd));
    background-image: linear-gradient(to bottom, #1cbaed, #0e7bdd);
    color: #fff;
  }
  
  .country h4 {
    color: #fff !important;
   }
  
  .country h5 {
    color: #fff !important;
   }
  
  .system-block {
    min-height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .system-block label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px;
  }
  
  .system-block label input {
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .radio-block-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
    margin-bottom: 2%;
  }
  
  .radio label input {
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .radio-block label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .radio-block label input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
  
  .radio input[type="radio"], .checkbox input[type="checkbox"] {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
  
  .radio, .checkbox {
    padding: 0px;
  }
  
  @media (max-width: 767px) {
    .radio-block-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }

    .system-block{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 10px;
        
    }

    .radio{
      padding: 5px;
    }

    .system-block-content {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
      }
    .system-block-content label {
        margin-top: 2px;
      }

    .system-block-content-two{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
        -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }

    .system-block-content-two label{
        margin-top: 2px;
    }

    .group-ukr-content {
        margin: 0px;
      }
    
    .group-ukr{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 20px;
    }

    .group-eur{
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 20px;
    }

    .group-eur-content {
      margin: 0px;
    }

    .radio-block-wrapper{
        padding: 10px;
    }

    .radio-block{
        padding: 5px;
    }

    .form-summ-block-one{
      margin-top: 30px;
      font-size: 13px;
    }
  
    .form-summ-block-one input{
      width: 100%;
      border: none;
      text-align: center;
      /* margin-top: -15px; */
      color: #000;
      background-color: #F3FBFE;
      box-shadow: none !important;
      font-size: 13px;
    }
  
    .form-summ-block-two{
      margin-top: 30px;
    }
  
    .form-summ-block-two input{
      width: 100%;
      border: none;
      text-align: center;
      margin-top: -15px;
      color: #000;
      background-color: #F3FBFE;
      box-shadow: none !important;
      font-size: 13px;
    }


  }
  
  
  /* Tabs */
  
  label {
    margin: 0px;
  }
  
  .tabs {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }
  
  .tabs input[type="radio"] {
    margin: -10px 0px 0px 5px;
  }
  
  .ukr-radio {
    margin-top: -2px !important;
  }
  
  .tabs div {
    display: none;
    border: 1px solid #eee;
    padding: 10px 15px;
    border-radius: 4px;
  }
  
  /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
  #tab-btn-1:checked ~ #content-1,
  #tab-btn-2:checked ~ #content-2,
  #tab-btn-3:checked ~ #content-3,
  #tab-btn-4:checked ~ #content-4 {
    display: block;
  }
  
  #tab-btn-5:checked ~ #content-5,
  #tab-btn-6:checked ~ #content-6,
  #tab-btn-7:checked ~ #content-7,
  #tab-btn-8:checked ~ #content-8 {
    display: block;
  }
  
  .input-server-ukr{
    margin: 0px !important;
  
  }
  
  .input-server-eur{
    margin: 0px !important;
  
  }
  
  .tabs label {
    margin: -24px 0px 0px 25px;
  
  }
  
  /* Tabs */
  
  .total-amount-block {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 22px;
    color: #000;
  }
  
  
  
  .total-amount-block {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 22px;
    color: #000;
  }
  
  .block-form-order {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .form-body-order {
    width: 100%;
    text-align: center;
  }
  
  .form-body-order .btn-block {
    width: 350px !important;
    color: #fff !important;
  }
  
  .form-body-order .btn-block:hover {
    color: #fff !important;
  }
  
  .form-body-order input {
    width: 80%;
    height: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #C9DCE6;
    margin: 20px 0px 20px 0px;
  }
  
  .button-order {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .button-order input {
    border: none;
    width: 350px;
    border-radius: 5px;
    min-height: 48px;
    padding: 15px 10px 15px 10px;
    margin: 10px 20px 30px 20px;
    color: #fff;
    background-color: #169FE6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1cbaed), to(#0e7bdd));
    background-image: linear-gradient(to bottom, #1cbaed, #0e7bdd);
    border: 1px solid #fff;
  }
  
  .button-order input:hover {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0e7bdd), to(#0B62AE));
    background-image: linear-gradient(to bottom, #0e7bdd, #0B62AE);
    color: #fff;
    border: 1px solid #169FE6;
    cursor: pointer;
  }
  
  .order-header {
    text-align: center;
  }

  .server-info-block{
    width: 100%;
    padding: 30px 0px 30px 0px;
    text-align: center;
    margin: 0 auto;

  }

  .form-summ-block-one{
    margin-top: 30px;
  }

  .form-summ-block-one input{
    width: 100%;
    border: none;
    text-align: center;
    margin-top: -15px;
    color: #000;
    background-color: #F3FBFE;
    box-shadow: none !important;
    font-size: 16px;
  }

  .form-summ-block-two{
    margin-top: 30px;
  }

  .form-summ-block-two input{
    width: 100%;
    border: none;
    text-align: center;
    margin-top: -15px;
    color: #000;
    background-color: #F3FBFE;
    box-shadow: none !important;
    font-size: 16px;
  }

  
  .form-price-ukr {
    display: none;
  }
  
  .form-price-eur {
    display: none;
  }
  
  .form-support-system-ukr {
    display: none;
  }
  
  .form-price-users {
    display: none;
  }
  
  .form-support-system-eur {
    display: none;
  }
  
  .form-software-about-ukr {
    display: none;
  }
  
  .form-software-about-eur {
    display: none;
  }
  
  .total-amount-ukr {
    padding: 1%;
    display: none;
  }
  
  .total-amount-eur {
    display: none;
  }
  
  .europe-content {
    display: none;
  }
  
  .ukraine-content {
    display: none;
  }
  /*# sourceMappingURL=style.css.map */